body {
  font-family: sans-serif;
}


.point {
  mix-blend-mode: multiply;
}

.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line {
  fill: none;
  stroke: #ebebeb;
}

.axis circle {
  fill: none;
  stroke: #aaa;

  /* stroke-dasharray: 4; */
}

.axis:last-of-type circle {
  stroke: #333;
  /* //stroke-dasharray: none; */
}


.line {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
}